
<div class="col-md-12 card-body "><br>


  <div class=" form-inline " >
    <div class="col-md-7 ">
    <h2> Orders </h2></div>
    <div class="col-md-5">
    <input class=" form-control mr-sm-2 " type="text" placeholder="Search" aria-label="Search">
    <button style="color: white;" class="btn btn-success " type="submit">Search<span class="caret"></span></button>
  </div></div>
  <br>
  <div class="container">
  <div class=" row">
   
<table class="table-bordered border-collapse col-md-12">
  <tr>
    <th>Order id</th>
    <th>Name</th>
    <th>UserId</th>
    <th>Product Id</th>
    <th>Product name</th>
    <th>Qty</th>
    <th>Amount</th>
    <th>Payment method</th>
  </tr>
  <tr>
    <td>001</td>
    <td>Sam</td>
    <td>User123</td>
    <td>pr-10122</td>
    <td>Kids floral frock</td>
    <td>1</td>
    <td>Rs.1200</td>
    <td>Debit card</td>
  </tr>
</table>


</div>

    

  </div>
</div>