<br><br>
<div class="container" style="align-items: center; align-content: center;"><br>
  <div class="col-md-6">
  <h4 style="color: crimson;"><b>Admin Login</b></h4>
  <div class="card-body">
  <label >Username :</label>
  <input class="form-control" type="text"  placeholder="Enter username"><br><br>
  <label>Password :</label>
  <input class="form-control" type="text" placeholder="Enter password"><br><br>
  <button type="button" routerLink="/layout" style="background-color:khaki; color: crimson;"  class="btn "><b>Login</b></button><br><br>

<!-- <div><small>Haven't registered yet? </small><br><a href="#" style="color: blue;">Register here</a></div> -->
</div>
</div>
</div>
