
<header>
  <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color:teal">
    <a class="navbar-brand" routerLink="home">Shopping Site</a>

      <div class="form-inline mt-2 mt-md-0 col-md-9 " >
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button style="color: white;" class="btn " type="submit">Search<span class="caret"></span></button>
      </div>
      <div >
        <button style="color: white;" id="button-basic"  type="button" class="btn  ">
          SignOut <span class="caret"></span>
      </button>
      </div>

  </nav> -->
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" routerLink="home">Shopping Site</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" aria-expanded="false" aria-controls="sidebarMenu" aria-label="Toggle navigation" type="button" data-target="#sidebarMenu" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" aria-label="Search" type="text" placeholder="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>
</header>

<!-- <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Company name</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav> -->







<!-- 
<div class="row ">
  <div class=" card col-md-2">

  <ul style="list-style-type:none;"  >
   <br>
    <li ><a  routerLink="/productslist" style="background-color:lightslategray; color :linen;" class="btn btn-primary form-control">Product List</a ></li>
    <li><a routerLink="/orders" style="background-color:lightslategray; color :linen;" class="btn  btn-primary form-control" >Orders</a ></li>
    <li><a  routerLink="/userslist" style="background-color:lightslategray; color :linen;" class="btn  btn-primary form-control">Users</a ></li>
  </ul> -->
<!-- 
  <nav id="sidebarMenu" class=" d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
       

        <li class="nav-item active">
          <br><br>
          <a class="nav-link" routerLink="/orders" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
            Product List
          </a>
        </li>
     


        <li class="nav-item">
          <a class="nav-link" routerLink="/productslist">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/userslist">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
            Users
          </a>
        </li>
        
      </ul>
  

    </div>
  </nav> -->
<!-- </div>
  
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
  </div> -->
<app-sidebar></app-sidebar>
<!-- 
  <footer class="fixed-bottom" >
    <div class="col-md-12 ">
      <p>© 2017-2019 Company, Inc.  <a href="#">Privacy</a>  ·  <a href="#">Terms</a> </p>
    </div></footer> -->
